<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Add Product </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar (pageTitle='Add Product')"></nav>
<h3> Tambah Product </h3>
<form th:action="@{/product/add/}+${storeId}" th:object="${store}" method="POST">
    <input type="hidden" th:field="*{id}"/>
    <table id="inputform" class="table">
        <thead>
            <tr>
                <td>Nama</td>
                <td>Deskripsi</td>
                <td>Harga</td>
                <td>Stok</td>
                <td><button type="submit" class="btn btn-primary" name="addRow">Add Row</button>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product, rowStat : *{listProduct}">
                <td>
                    <input type="text" name="nama" th:field="*{listProduct[__${rowStat.index}__].nama}" />
                </td>
                <td>
                    <input type="text" name="deskripsi" th:field="*{listProduct[__${rowStat.index}__].deskripsi}" />
                </td>
                <td>
                    <input type="number" name="harga" th:field="*{listProduct[__${rowStat.index}__].harga}" />
                </td>
                <td>
                    <input type="number" name="stok" th:field="*{listProduct[__${rowStat.index}__].stok}" />
                </td>
                <td>
                    <button type="submit" name="removeRow" th:value="${rowStat.index}">Hapus</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!--Nama: <br>
    <input type="text" name="nama"/>
    <br>
    Deskripsi: <br>
    <input type="text" name="deskripsi"/>
    <br>
    Harga: <br>
    <input type="number" name="harga"/>
    <br>
    Stok: <br>
    <input type="number" name="stok"/>
    <br> -->
    <div class="submit">
        <button type="submit" name="save" class="btn btn-primary"> Submit </button></div>
</form>
</body>
</html>