<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="card">
    <div class="card-header">Tambah User Baru</div>
    <div class="card-body">
        <form th:action="@{/user/updatePassword/{username}(username=${username})}"  method="post">
            <h2 th:text="${statusUbahPass}"></h2>

            <label>Password Lama</label>
            <input type="password" name="oldPassword" class="form-control">

            <label>Password Baru</label>
            <input type="password" name="newPassword" class="form-control"/>

            <label>Konfirmasi Password Baru</label>
            <input type="password" name="newPasswordConfirm" class="form-control"/>

            <br>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>
    </div>
</div>
</body>
</html>